:root {
	--main-color: #040403;
	--header-color: black;
	--secondary-color: #f5f5f5;
	--success-color: #5de882;
	--warning-color: #f0ed59;
	--error-color: #d9342b;
	--info-color: #3388d6;
	--royal-color: #9B4DCA;
}

.bg-success {
	color: white;
	background-color: var(--success-color) !important
}

.bg-warning {
	color: white;
	background-color: var(--warning-color) !important
}

.bg-error {
	color: white;
	background-color: var(--error-color) !important
}

.bg-royal {
	color: white;
	background-color: var(--royal-color) !important
}

.bg-info {
	color: white;
	background-color: var(--info-color) !important
}

.text-success {
	color: var(--success-color) !important
}

.text-warning {
	color: var(--warning-color) !important
}

.text-error {
	color: var(--error-color)
}

.text-royal {
	color: var(--royal-color) !important
}

.text-info {
	color: var(--info-color) !important
}

@font-face {
	font-family: noir-r;
	src: url("Noir_regular.otf") format("opentype");
}

@font-face {
	font-family: noir-m;
	src: url("Noir_medium.otf") format("opentype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 1rem;
	font-family: 'noir-m', sans-serif;
	color: var(--header-color)
}

.img-bw {
	filter: grayscale(100%)
}

.container {
	position: relative;
	height: 100vh !important;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

p.lead {
	font-size: 1.7em;
	text-decoration: italic
}

div.navbar {
	background-color: var(--main-color);
	height: 60px;
	color: white;



	display: flex;
	align-items: center;
	justify-content: center;
}

div.navbar .title {
	margin: 0;
	padding: 0;

}

body,
html {
	margin: 0;
	padding: 0
}

img {
	width: calc(100vw - 3em);
	padding: .75em;
	display: block;
	margin: auto;
}

table {
	border-spacing: 0;
	width: 100%;
}

th {
	width: 100%;
	padding: .5em;
	text-align: left;
	border-bottom: .1rem solid #e1e1e1;
}

tr {
	width: 100%;
	border-bottom: 1px solid var(--main-color) !important
}

tr.active {
	background: #e1e1e1;
}

td {
	padding: .75em;
	text-align: left;
	border-bottom: .1rem solid #e1e1e1;
}

img.full-img {
	width: 100%;
	padding: 0;
	height: 100vh;
	/* opacity: .4; */
	filter: grayscale(100%);
	object-fit: cover;
}


#particles-js {
	height: 100%;
	width: 100%;
	background-image: url("fm.jpg");
	background-size: cover;

}

.bg-dark {
	background-color: var(--main-color);
	color: white
}

.bg-light {
	background-color: var(--secondary-color);
	color: var(--main-color)
}

.content-center {
	align-content: center
}

.text-center {
	text-align: center
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.center {
	display: block;
	text-align: -webkit-center
}

.box {
	padding: .5rem;
	margin: 1em
}


.light {
	color: white
}

* {
	font-family: 'noir-r';
}

* {
	overflow-x: auto
}

blockquote {
	border-left: .3rem solid #d1d1d1;
	padding-left: .3rem;
	padding: 1rem 1.5rem;
	color: inherit
}

.button {
	border-radius: 0;
	background-color: white;
	padding: 1rem;
	border: 0;
	color: var(--main-color);
	text-decoration: none;
	font-size: 1em;
	font-family: 'noir-r', sans-serif;
	cursor: pointer;
	margin: 1em
}

.button:disabled,
.button[disabled] {
	background-color: #CBCBCA !important;
	color: var(--main-color) !important;
	cursor: default
}

.button:disabled,
.button[disabled]:hover {
	color: var(--main-color) !important;
}

.button:hover {
	color: #CBCBCA !important;
}

.button.button-outline {
	background-color: inherit;
	border: 1px solid white;
	color: inherit;
}

.button {
	background-color: var(--main-color);
	color: white;
}

.button.button-outline {
	background-color: inherit;
	border: 1px solid var(--main-color);
	color: inherit;
}

.bg-dark .button,
form .button {
	background-color: white !important;
	color: var(--main-color) !important;
}

.bg-dark .button.button-outline,
form .button.button-outline {
	background-color: inherit;
	border: 1px solid white;
	color: inherit;
}

.button.button-clear {
	background-color: inherit;
	color: inherit;
	text-decoration: underline;
}

small {
	color: #CBCBCA
}

ul {
	list-style: square outside none;
}

pre {
	margin: 1em;
	background: #CBCBCA;
	color: var(--main-color);
	padding: 1em;
	border-left: 5px solid var(--header-color)
}

div.sidebar {
	position: fixed;
	top: 0;
	left: -10000px;
	background-color: var(--main-color);
	width: 50vw;
	height: 100vh;
	color: white;
	padding: 1em;
	opacity: .95;

}

.sidebar-links {
	height: calc(100% - 8em);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap
}

.sidebar-full {
	width: calc(100vw - 2em) !important;

}

.sidebar-links .link {
	font-size: 2em;
	margin: .5em;
	width: 100%;
	text-align: center;

}

.search {
	background-color: #CBCBCA;
	padding: 1em;
	/*  width:calc(100vw - 2em);*/

}

.sidebar-links .link:hover {
	font-size: 3em;
	cursor: pointer
}

.sidebar-footer {
	background-color: white;
	color: var(--main-color);
	height: 5em;
	line-height: 5em;
	text-align: center;
	position: absolute;
	bottom: 1em;
	left: 0;
	width: 100%
}

button.sidebar-close {
	position: relative;
	top: 0;
	left: 0;
}

span.sidebar-title {
	font-size: 1em
}

.sidebar-header {
	line-height: 5em;
	height: 5em;
}

a:visited:not(.button) {
	color: #CBCBCA
}

*::-webkit-scrollbar-track {
	border: .5px solid var(--main-color);
	background-color: var(--secondary-color);
	height: 100%
}

*::-webkit-scrollbar {
	width: 5px;
	height: 3px;
	background-color: var(--secondary-color);
}

*::-webkit-scrollbar-thumb {
	background-color: #000000;
}

/* *:not(.tabs) {
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
} */

@media only screen and (min-width: 320px) and (max-width: 479px) {}

@media only screen and (min-width: 480px) and (max-width: 767px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	div.sidebar {
		width: 33vw;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1999px) {
	div.sidebar {
		width: 33vw;
	}
}


progress {
	-webkit-appearance: none;
	appearance: none;

	width: calc(100% - 2em);

	margin: 1em;
	height: .35em
}

progress:not([value]) {
	/*
		TODO: Add Support for Indeterminate Progress Bars
	*/
	display: none
}

progress[value]::-webkit-progress-bar {
	background: #cfcfcf;
}



progress.inv[value]::-webkit-progress-value {
	background-color: white;

	background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress[value]::-webkit-progress-value {
	background-color: var(--main-color);

	background-size: 35px 20px, 100% 100%, 100% 100%;
}


input[type=range] {
	-webkit-appearance: none;
	width: calc(100% - 2em);
	margin: 1em
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	cursor: pointer;
	background: var(--main-color);
	height: 1.5em;
}

input[type=range]::-webkit-slider-thumb {
	height: 1.25em;
	width: 16px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: var(--main-color)
}

input[type=text] {
	margin: 1em;
	padding: 3px
}

input.input-fluid[type=text],
textarea {
	width: calc(100% - 10px - 2em);
	margin: 1em;
	padding: 3px !important
}

form p {
	padding-left: 1em;
	margin-top: 0;
}

textarea:focus,
input:focus {
	/*	outline: .5px solid var(--main-color) ;*/
}

form {
	background-color: var(--main-color);
	color: white
}

.tracking-in-contract {
	-webkit-animation: tracking-in-contract 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-contract 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-contract {
	0% {
		letter-spacing: 1em;
		opacity: 0;
	}

	40% {
		opacity: 0.6;
	}

	100% {
		letter-spacing: normal;
		opacity: 1;
	}
}

@keyframes tracking-in-contract {
	0% {
		letter-spacing: 1em;
		opacity: 0;
	}

	40% {
		opacity: 0.6;
	}

	100% {
		letter-spacing: normal;
		opacity: 1;
	}
}

.tag:not(body) {
	align-items: center;
	background-color: var(--secondary-color);
	color: #4a4a4a;
	display: inline-flex;
	font-size: .75rem;
	height: 2em;
	justify-content: center;
	line-height: 1.5;
	padding-left: .75em;
	padding-right: .75em;
	white-space: nowrap;
}


.tag.bg-dark:not(body) {
	background-color: var(--main-color);
	color: white;

}

.tag.bg-light:not(body) {
	background-color: white;
	color: var(--main-color);
}

.chip {
	align-items: center;
	background-color: var(--secondary-color);
	color: #4a4a4a;
	display: inline-flex;
	font-size: .75rem;
	min-width: 5em;
	/* height: 2em; */
	justify-content: center;
	white-space: nowrap;
	box-sizing: border-box;
	padding: 1em;
	/* margin: 1em; */
	border-radius: 500px;


}


.chip.bg-dark:not(body) {
	background-color: var(--main-color);
	color: white;

}

.chip.bg-light:not(body) {
	background-color: white;
	color: var(--main-color);
}

nuit-icon {
	margin-right: .5em
}

span.oi::before {
	height: 1em;
	width: 1em;
	top: .125em;
	position: relative;
}

.tabs {
	display: flex
}

.tab {
	text-align: center;
	flex-grow: 1;
	padding: 1em
}

.tabs:not(.tabs-underline) .tab.active {
	background: var(--main-color);
	color: white;
	border-bottom: .15em solid var(--main-color);
}

.tab:not(.active):hover {
	cursor: pointer;
}

.tabs:not(.tabs-underline) .tab:not(.active):hover {
	background: var(--secondary-color);
	border-bottom: .15em solid var(--secondary-color);
}

.tabs.tabs-underline .tab.active {
	border-bottom: .15em solid var(--main-color);
}


.bg-dark>.tabs:not(.tabs-underline) .tab.active {
	background: white;
	color: var(--main-color);

	border-bottom: .15em solid white;
}

.bg-dark>.tabs:not(.tabs-underline) .tab:not(.active):hover {
	color: var(--main-color)
}


.bg-dark>.tabs.tabs-underline .tab.active {
	border-bottom: .15em solid white;

}


.tabs.tabs-underline .tab:not(.active):hover {
	border-bottom: .15em solid var(--secondary-color);
}

.breadcrumbs ol li {
	display: inline
}

.breadcrumbs ul li {
	display: inline
}

.breadcrumbs ol li::after {
	content: '/';
	padding: 0 1rem;
	pointer-events: none;
}

.breadcrumbs ol li:last-child {
	font-weight: bold;
}

.breadcrumbs ol li:last-child::after {
	content: '';
	pointer-events: none;
}


.breadcrumbs ol li a {
	text-decoration: none
}

.breadcrumbs ol li:not(:last-child) a {
	color: white !important;
}

.breadcrumbs ol li:not(:last-child) a:hover {
	text-decoration: underline
}

.breadcrumbs ol li:last-child a {
	pointer-events: none;
	cursor: default;
}



.collapse input[type='checkbox'] {
	display: none;
}

.collapse label {
	display: block;

	font-weight: bold;
	font-size: 1rem;
	text-align: center;

	padding: 1rem;
	background-color: var(--main-color);
	color: var(--secondary-color);

	cursor: pointer;
	transition: all 0.25s ease-out;
}


.collapse label:hover {
	color: white;
}


.collapse label::before {
	content: '▷';
	display: inline-block;

	vertical-align: middle;
	margin-right: .7rem;
	font-size: .7rem;

	transition: transform .2s ease-out;
}


.collapse input:checked+label::before {
	transform: rotate(90deg) translateX(-3px);
}

.collapse>.content {
	max-height: 0px;
	padding: 0;
	overflow: hidden;
	transition: max-height .25s ease-in-out;
}

.toggle:checked+.lbl-toggle+.content {
	max-height: 350px;
}

.toggle:checked+.lbl-toggle {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.collapse>.content div.inner {
	background: var(--secondary-color);
	padding: .5rem 1rem;
}